*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: "Manrope", sans-serif;
    width: 100%;
    height: 100%;
    font-size: 16px;

}
h1{
    font-size: 2.5rem;
    font-weight: 800;
}
h2{
    font-size: 2rem;
    font-weight: 800;
}
button{
    background-color: #F84646;
    color: #fff;
    border: 0;
    width: 14vw;
    font-size: 1rem;
    padding: 8px 24px;
    border-radius: 8px;
    font-weight: 600;
}
#presentation-container{
 
    padding: 40px 120px;
    height: 100vh;
    background-image: url('./assets/fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
.background-gradient{
    background: linear-gradient(180deg, #fff, #d9d9d9);
}
.h1{
    margin-bottom: 1rem;
}

#presentation{
    width: 500px;
}


#qualities{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}
#qualities > img {
    margin: 0 2.5rem;
}
.container{
    padding: 5rem 2rem;
    text-align: center;
}

.contact-title{
    margin-top: 8px;

}

.container > p{
    margin-top: 1.5rem;
}

.container > button{
    margin-top: 2rem;
    transition: opacity 0.5s ease-in-out, transform 0.5s .2s;
}

.container > button:hover{
    opacity: 0.8;
    transform: scale(1.1);
}

.background-red{
    background-color: #F84646;
    color: #fff;
}

.article-container{
    display: flex;
}
.article-container:nth-child(odd){
    flex-direction: row-reverse;
}
.article-details{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
}